<div class="container-fluid min-vh-100 pb-5">
  <section class="login-content d-flex flex-column align-items-center mx-auto">

    <h1 class="login-title text-center fw-normal mb-0">
      Iniciar Sesión
    </h1>

    <p class="login-description text-center">
      Administra tus alarmas recurrentes y tu historial<br>
      desde la web
    </p>

    <form class="login-form w-100">

      <div>
        <label
          for="form-email"
          class="form-label mb-2"
        >
          Correo
        </label>

        <input
          type="email"
          class="form-control"
          id="form-email"
          placeholder="tucorreo@ejemplo.com"
          name="email"
          [(ngModel)]="email"
        >
      </div>

      <div class="mt-5">
        <label
          for="form-password"
          class="form-label mb-2"
        >
          Contraseña
        </label>

        <input
          type="password"
          class="form-control"
          id="form-password"
          name="password"
          [(ngModel)]="password"
        >

        <a
          href="#"
          class="d-block recover-password"
        >
          Recuperar contraseña
        </a>
      </div>

      <button
        type="submit"
        class="btn continue-button w-100 fw-semibold mt-4"
        (click)="login()"
      >
        Continuar
      </button>

      <!-- Separador -->
      <div
        class="separator d-flex justify-content-center align-items-center"
      >
        <span>- o -</span>
      </div>

      <button
        type="button"
        class="btn google-button w-100 fw-semibold"
        (click)="continueWithGoogle()"
      >
        Continuar con Google
      </button>

    </form>
  </section>
</div>