:root {
    --gold: #F5A623;
    --lavender: #B9BFDD;
    --cream: #FFFBF2;
    --black: #000000;
    --success: #2E8B57;
    --alert: #D64545;
    --navy: #1E2664;
    --white: #FFFFFF;
    --gray: #888888;

    --principal-font-family: "Inter", sans-serif;

    --back-button-font-size: 32px;
}

body {
    font-family: var(--principal-font-family);
}